@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,400,500,600i|Nunito:400,600,700|Open+Sans+Condensed:300|Oswald:400,600|Quicksand:400,600,700|Raleway:400,500,700|Roboto:300,400,500&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: Quicksand;
}
.container {
  /* border: 1px solid black; */
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: white;
}
.homeLeft {
  /* border: 1px solid red; */
  background-color: #5edfff;
  /* margin-left: 10px; */
  flex: 0.5;
}
.bitmojiHome {
  width: 50%;
  position: absolute;
  top: 15%;
  right: 0;
}

/* BELOW IS HOME PAGE WORD STYLING */
.word {
  margin: 0;
}
.hi {
 /* border: 1px solid red; */
  position: absolute;
  top: 40%;
  right: 45%;
}
.italicHome {
 /* border: 1px solid blue; */
 font-style: italic;
}
.nameFirst {
    /* border: 1px solid green; */
    position: absolute;
    top: 50%;
    /* right: 38%; */
    left: 17%;
    font-size: 35px;
}
.nameLast {
    position: absolute;
    top: 56%;
    left: 34%;
    font-size: 35px;
}
.jobTitleL {
    position: absolute;
    top: 61%;
    right: 10%;
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #FF78A8;
}
.jobTitleR {
    position: absolute;
    top: 67%;
    right: 11%;
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #FF78A8;
}
.periodHome {
  color: #FF78A8;
}
.linkScrollTo {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.fas {
  margin: 8px 0;
}
.scrollToContainer {
  display: flex;
}
.linkAbout {
  position: absolute;
  bottom: 0;
  right: 15%;
}
.linkProjects {
  position: absolute;
  bottom: 0;
  left: 15%;
}
.linkContact {
  position: absolute;
  bottom: 0;
  right: 43%;
}
.linkScrollTo {
  cursor: pointer;
}

/* MEDIA QUERIES BELOW */

/* MEDIA QUERY FOR 425PX */

@media (min-width: 425px) {
  .linkScrollTo {
    font-size: 23px;
  }
  .linkContact {
    right: 41%;
  }
  .bitmojiHome {
    width: 67%;
    right: -17%;
  }
}

/* MEDIA QUERY FOR 768PX */

@media (min-width: 768px) {
  .linkScrollTo {
    font-size: 23px;
  }
  .linkContact {
    right: 45%;
  }
  .bitmojiHome {
    width: 54%;
    right: -4%;
    top: 4%;
  }
  .nameLast {
    top: 61%;
    left: 32%;
    font-size: 50px;
  }
  .nameFirst {
    top: 54%;
    left: 20%;
    font-size: 50px;
  }
  .jobTitleR {
    top: 67%;
    right: 14%;
    font-size: 45px;
  }
  .jobTitleL {
    top: 61%;
    right: 14%;
    font-size: 45px;
  }
}

/* MEDIA QUERY 1024PX */

@media (min-width: 1024px) {
  .container {
    height: 98vh;
  }
  .linkScrollTo {
    font-size: 23px;
    margin-bottom: 10px;
  }
  .linkContact {
    right: 46%;
  }
  .bitmojiHome {
    width: 27%;
    right: 23%;
  }
  .nameLast {
    top: 57%;
    left: 37%;
    font-size: 2.8em;
  }
  .nameFirst {
    top: 50%;
    left: 29%;
    font-size: 2.8em;
  }
  .jobTitleR {
    top: 63%;
    right: 25%;
    font-size: 2.4em;
  }
  .jobTitleL {
    top: 57%;
    right: 25%;
    font-size: 2.4em;
  }
  .fa-long-arrow-alt-down:before {
    font-size: 36px;
  }
}

/* MEDIA QUERY 1440PX */

@media (min-width: 1440px) {
  .linkScrollTo {
    font-size: 26px;
    margin-bottom: 20px;
  }
  .nameFirst {
    top: 45%;
    left: 28%;
    font-size: 4em;
  }
  .nameLast {
    top: 53%;
    left: 36.4%;
    font-size: 4em;
  }
  .jobTitleR {
    top: 63%;
    right: 26%;
    font-size: 3.3em;
  }
  .jobTitleL {
    top: 55%;
    right: 26%;
    font-size: 3.3em;
  }
  .linkContact {
    right: 47%;
  }
  .bitmojiHome {
    width: 25%;
    right: 25%;
    top: 4%;
  }
}
