@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,400,500,600i|Nunito:400,600,700|Open+Sans+Condensed:300|Oswald:400,600|Quicksand:400,600,700|Raleway:400,500,700|Roboto:300,400,500&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: Quicksand;
}
.container {
  /* border: 1px solid black; */
  height: 100vh;
  width: 100%;
  display: flex;
  background-color: white;
}
.homeLeft {
  /* border: 1px solid red; */
  background-color: #5edfff;
  /* margin-left: 10px; */
  flex: 0.5;
}
.bitmojiHome {
  width: 50%;
  position: absolute;
  top: 15%;
  right: 0;
}

/* BELOW IS HOME PAGE WORD STYLING */
.word {
  margin: 0;
}
.hi {
 /* border: 1px solid red; */
  position: absolute;
  top: 40%;
  right: 45%;
}
.italicHome {
 /* border: 1px solid blue; */
 font-style: italic;
}
.nameFirst {
 /* border: 1px solid green; */
  position: absolute;
  top: 45%;
  right: 38%;
}
.nameLast {
 /* border: 1px solid purple; */
  position: absolute;
  top: 50%;
  right: 43%;
}
.jobTitleL {
 /* border: 1px solid yellow; */
  position: absolute;
  top: 55%;
  right: 52%;
}
.jobTitleR {
  position: absolute;
  top: 55%;
  right: 9%;
}
.periodHome {
  color: #FF78A8;
}
.linkScrollTo {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.fas {
  margin: 8px 0;
}
.scrollToContainer {
  display: flex;
}
.linkAbout {
  position: absolute;
  bottom: 0;
  right: 25%;
}
.linkProjects {
  position: absolute;
  bottom: 0;
  left: 25%;
}
