.projectContainerFull {
  margin-top: 14%;
}
/* .projectContainerFull::before {
  content: "";
  display: block;
  border-bottom: 1px solid black;
  margin: 0 auto;
  width: 70%;
  padding-top: 10px;
} */
.projectContainer {
  position: relative;
  top: 25px;
  display: flex;
  justify-content: center;
  /* background: rgba(0,0,0,0.55); */
}
.projectPhotos {
  width: 85%;
  border: 1px solid black;
  box-shadow: 0 10px 6px -6px #777;
  margin: 5px 0 15px 0;
}
.projectList {
  /* position: absolute;
  padding: 0;
  left: 0;
  bottom: 0; */
  display: none;
}
.text {
  list-style-type: none;
  font-size: 14px;
  color: white;
  text-shadow: 1px 1px black;
  margin-top: 30px;
}
.projectText {
  margin: 20px 0 0 15px;
  padding: 5px;
  width: fit-content;
  font-size: 24px;
}
.aboutWrap:after {
    content: '';
    position: absolute;
    bottom: -99%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: lightgray;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    transform: rotate(25deg);
}


/* MEDIA QUERIES BELOW */

/* MEDIA QUERY FOR 425PX */

@media (min-width: 425px) {
  .projectContainerFull {
      margin-top: 55%;
  }
  .aboutMeWrap:after {
    bottom: -12px;
    margin-left: 201px;
  }
  .projectTitleR {
    right: 13%;
  }
  .projectTitleL {
    right: 12%;
  }
  .aboutWrap:after {
    bottom: -102.4%;
  }
}

/* MEDIA QUERY FOR 768PX */

@media (min-width: 768px) {
  .projectContainerFull {
    margin-top: 28%;
  }
  .projectTitleR {
    right: 13%;
  }
  .projectTitleL {
    right: 12%;
  }
  .projectPhotos {
    width: 60%;
  }
}

/* MEDIA QUERY FOR 1024PX */

@media (min-width:1024px) {
  .projectContainerFull {
    margin-top: 18%;
  }
  .projectPhotos {
    width: 50%;
  }
}

/* MEDIA QUERY FOR 1280PX */

@media (min-width: 1280px) {
  .aboutWrap:after {
    bottom: -96% !important;
  }
}

/* MEDIA QUERY FOR 1440PX */

@media (min-width:1440px) {
  .projectContainerFull {
    margin-top: 13%;
  }
}
