

.aboutContainer {
  height: 80vh;
  width: 100%;
  margin: 0;
  border-top: 10px solid black;
  position: relative;
}
.speechTest {
  position: relative;
}
/* .aboutLetterWrap {
  margin: 20px 0 0 15px;
  padding: 5px;
  width: fit-content;
  font-size: 24px;
}
.aboutLetter {
  margin: 0;
  padding: 2px;

} */
.aboutMeWrap {
  width: 48%;
  position: absolute;
  right: 0;
  margin: 15px 15px 0 0;
  background-color: #147efb;
  padding: 5px 15px;
  border-radius: 10px;
  color: white;
}
/* .aboutMeWrap:after {
    content: '';
    position: absolute;
    bottom: -11px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: lightgray;
    border-bottom: 0;
    border-left: 0;
    margin-left: -18px;
    transform: rotate(25deg);
} */
.lovesText {
  font-style: italic;
  text-decoration: underline;
  color: white;
}
.bitmojiAbout {
  width: 50%;
  /* position: relative;
  top: 10px;
  left: 0; */
  /* float: left; */
  /* padding-top: 80%; */
  position: absolute;
  right: 55%;
  z-index: -1;
  bottom: 1%;
}
.aboutText {
  margin: 0;
  font-size: 1.2em;
}

/* BELOW IS FOR TESTING PURPOSES TO CHECK IF THE TEXT MESSAGE STYLE LOOKS GOOD */

.aboutMeWrap:after {
  content: '';
  position: absolute;
  /* bottom: -11px; */
  right: -0.7%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #147efb;
  border-bottom: 0;
  border-right: 0;
  margin-left: 178px;
  transform: rotate(-19deg);
}
.aboutLetterWrap {
  margin: 20px 0 0 15px;
  padding: 5px;
  width: fit-content;
  /* font-size: 24px; */
  background-color: lightgray;
  border-radius: 10px;
  color: black;
  position: relative;
}
.aboutLetterWrap:after {
  content: '';
  position: absolute;
  bottom: -25%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: lightgray;
  border-bottom: 0;
  border-left: 0;
  margin-left: -8px;
  transform: rotate(25deg);
}
.aboutLetter {
  margin: 0;
  padding: 2px;
  font-weight: 400;
  font-size: 2em;
}
.test {
  margin: 0;
  font-size: 14px;
}




/* MEDIA QUERIES BELOW */

/* MEDIA QUERY FOR 320PX */

/* @media (max-width: 320px) {
  .aboutLetter {
    font-size: 30px;
  }
  .aboutLetterWrap:after {
    bottom: -13%;
  }
  .aboutText {
    font-size: 20px;
  }
  .aboutMeWrap:after {
    margin-left: 152px;
  }
  .bitmojiAbout {
    padding-top: 90%;
  }
  .aboutWrap:after {
    bottom: -97% !important;
  }
} */

/* MEDIA QUERY FOR 425PX */

/* @media (min-width: 425px) {
  .bitmojiAbout {
    padding-top: 65%;
  }
  .aboutContainer {
    height: 55vh;
  }
  .aboutWrap:after {
    position: absolute;
    bottom: -673px;
  }
} */


/* MEDIA QUERY FOR 768PX */

@media (min-width: 768px) {
  .bitmojiAbout {
    width: 40%;
    right: 62%;
  }
  .aboutLetter {
    font-size: 2.2em;
  }
  .aboutLetterWrap {
    margin: 35px 0 0 30px;
  }
  .aboutMeWrap {
    right: 15px;
  }
  .aboutText {
    font-size: 1.5em;
  }
}
/* MEDIA QUERY FOR 1024PX */

@media (min-width: 1024px) {
  .bitmojiAbout {
      right: 63%;
      width: 33%;
  }
  .aboutLetter {
    font-size: 2.3em;
  }
  .aboutText {
    font-size:1.5em;
  }
  .aboutLetterWrap {
    margin: 35px 0 0 45px;
  }
  .aboutLetterWrap:after {
    bottom: -15px;
  }
  .aboutMeWrap {
    right: 30px;
  }
}

@media (min-width: 1280px) {
  .bitmojiAbout {
      right: 73%;
      width: 26%;
      bottom: 0;
  }
  .aboutLetter {
    font-size: 3em;
    padding: 10px;
  }
  .aboutText {
    font-size:2.2em;
    padding: 10px 13px;
  }
  .aboutLetterWrap:after {
    bottom: -15px;
  }
  .aboutMeWrap:after {
    bottom: -16px;
    margin-right: 2px
  }
}

/* MEDIA QUERY FOR 1280PX */

/* @media (min-width: 1280px) {
  .aboutLetterWrap:after {
    bottom: -141px !important;
  }
} */

/* MEDIA QYERT FOR 1440PX */

/* @media (min-width: 1440px) {
  .aboutLetter {
    font-size: 2em;
  }
  .aboutText {
    font-size: 2em;
  }
  .aboutLetterWrap {
    margin: 20px 0 0 25px;
  }
  .aboutLetterWrap:after {
    bottom: -14.5%;
  }
  .aboutMeWrap:after {
    bottom: -16px !important;
    margin-left: 95.59% !important;
  }
  .aboutMeWrap {
    margin: 15px 25px 0 0;
  }
  .bitmojiAbout {
    padding-top: 6% !important;
    width: 28% !important;
  }
  .aboutWrap:after {
    bottom: -90.8% !important;
  }
} */
